[submodule "deps/eng"]
	path = deps/eng
	url = https://github.com/joyent/eng
[submodule "deps/manta-scripts"]
	path = deps/manta-scripts
	url = https://github.com/joyent/manta-scripts
[submodule "deps/postgresql96"]
	path = deps/postgresql96
	url = https://github.com/joyent/postgres.git
